html,
body {
    height: 100%;
    background-color: #0000ff;
    position: relative;
    font-family: 'DM+Sans', sans-serif;
    font-style: Regular;
    text-align: left;
    font-weight: 400;
}

h1 {
    font-size: 1.875em;
    font-style: Bold;
    font-weight: 700;
    letter-spacing: 2px;
}

/*
.prov-txt {
	color: #ffffff;
    text-align: center;
    font-family: serif;
}*/

.main-block {
    padding-top: 20px;
	display: block;
    font-size: 200%;
    color: #ffffff;
    line-height: 110%;
}


.main-title {
    font-family: 'DM+Sans', sans-serif;
    color: #ffffff;
    font-size: 1.875em;
    font-style: Bold;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

/*
.main-title:hover {
    color: #00ff00;
    opacity: 1.0;
}
*/

.main-title:hover {
    color: #0000ff;
}


.main-txt {
    padding-top: 20px;
    letter-spacing: 1px;
}

.blue:hover {
    color:#0000ff;
}


img {
    display: block;
    margin: auto;
    width: 100%;
    padding-top: 50px;
}

/* LINKS */
a:link {
    color: #ffffff;
    text-decoration: underline;
}

a:visited {
    color: white;
}

a:hover {
    color: #0000ff;
}

/*
a:visited {
    color: #ff0000;
}

a:hover {
    color: red;
}
*/


/* Tooltip */

.mytooltip + .tooltip > .tooltip-inner {
    color: #0000ff;
    font-size: 12px;
    text-align: left;
    background-color: white;
    width: 150px;
  }

.mytooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: white;
}



