html,
body {
    height: 100%;
    background-color: #0000ff;
    position: relative;
    font-family: 'HKGroteskRegular', sans-serif;
    text-align: left;
}
/*
.prov-txt {
	color: #ffffff;
    text-align: center;
    font-family: serif;
}*/

.headline {
    font-size: 170%;
    font-weight: bold;
}

img {
    padding: 40px;
    width: 50% \9;
    height: auto;
}

.main-block {
    padding-top: 20px;
	display: block;
    font-size: 170%;
    color: #ffffff;
    line-height: 110%;
}


.main-title {
    font-family: 'HKGroteskBold', sans-serif;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 30px;
    padding-top: 8px;
}


.main-title:hover {
    color: #0000ff;
}


.main-txt {
    padding-top: 20px;
    letter-spacing: 1.5px;
}

.blue:hover {
    color:#0000ff;
}


/* img {
    display: block;
    margin: auto;
    width: 100%;
    padding-top: 50px;
} */

/* LINKS */
a:link {
    color: #ffffff;
    text-decoration: underline;
}

a:visited {
    color: white;
}

a:hover {
    color: #0000ff;
}

/*
a:visited {
    color: #ff0000;
}

a:hover {
    color: red;
}
*/


/* Tooltip */

.mytooltip + .tooltip > .tooltip-inner {
    color: #0000ff;
    font-size: 12px;
    text-align: left;
    background-color: white;
    width: 150px;
  }

.mytooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: white;
}



